<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- ============= Spring 整合 Hibernate ============= -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 配置 C3P0 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="${jdbc.driverClass}" />
	<property name="jdbcUrl" value="${jdbc.url}" />
	<property name="user" value="${jdbc.username}" />
	<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- 配置 Hibernate SessionFactory 相关配置 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 注入Hibernate 相关配置 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 引入映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/qidi/crm/bean/User.hbm.xml</value>
				<value>com/qidi/crm/bean/Customer.hbm.xml</value>
				<value>com/qidi/crm/bean/BaseDict.hbm.xml</value>
				<value>com/qidi/crm/bean/LinkMan.hbm.xml</value>
				<value>com/qidi/crm/bean/SaleVisit.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- ================= User 模块的相关配置==================== -->
	<!-- 配置 Action -->
	<bean id="userAction" class="com.qidi.crm.web.action.UserAction">
		<property name="userService" ref="userService" />
	</bean>
	
	<!-- 配置 Service -->
	<bean id="userService" class="com.qidi.crm.service.impl.UserServiceImple">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<!-- 配置 Dao -->
	<bean id="userDao" class="com.qidi.crm.dao.impl.UserDaoImple">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- =================Customer 模块的相关配置==================== -->
	<bean id="customerDao" class="com.qidi.crm.dao.impl.CustomerDaoImple">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="customerService" class="com.qidi.crm.service.impl.CustomerServiceImple">
		<property name="customerDao" ref="customerDao" />
	</bean>
	<bean id="customerAction" class="com.qidi.crm.web.action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService" />
	</bean>
	
	<!-- ================= BaseDict 模块的相关配置==================== -->
	<bean id="baseDictDao" class="com.qidi.crm.dao.impl.BaseDictDaoImple">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="baseDictService" class="com.qidi.crm.service.impl.BaseDictServiceImple">
		<property name="baseDictDao" ref="baseDictDao" />
	</bean>
	<bean id="baseDictAction" class="com.qidi.crm.web.action.BaseDictAction" scope="prototype">
		<property name="baseDictService" ref="baseDictService" />
	</bean>
	
	<!-- ================= LinkMan 模块的相关配置==================== -->
	<bean id="linkManAction" class="com.qidi.crm.web.action.LinkManAction">
		<property name="linkManService" ref="linkManService" />
		<property name="customerService" ref="customerService" />
	</bean>
	<bean id="linkManService" class="com.qidi.crm.service.impl.LinkManServiceImple">
		<property name="linkManDao" ref="linkManDao" />
	</bean>
	<bean id="linkManDao" class="com.qidi.crm.dao.impl.LinkManDaoImple">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- ================= SaleVisit 模块的相关配置==================== -->
	<bean id="saleVisitAction" class="com.qidi.crm.web.action.SaleVisitAction" scope="prototype">
	
	</bean>
	<bean id="saleVisitService" class="com.qidi.crm.service.impl.SaleVisitServiceImple">
		
	</bean>
	<bean id="saleVisitDao" class="com.qidi.crm.dao.impl.SaleVisitDaoImple">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置在没有开启类扫描的情况下使用注解 -->
	<context:annotation-config />
	
	
</beans>
